In [1]:
# Hoy vamos a presentar lo super basico de la libreria pandas.

import pandas

In [2]:
def generar_mensaje(titulo, nombre, segundo, apellido, servicio, vencimiento):
    if segundo: # Aca el "" tiene valor False, si hay contenido en el str entonces tiene valor True. Magias de Python que es super flexible.
        nombre_completo = nombre + " " + segundo
    else:
        nombre_completo = nombre
    print (f'{titulo} {nombre_completo} {apellido}, tiene una deuda con {servicio} que vence el {vencimiento}')

In [3]:
datos = pandas.read_csv('C2-Ejemplo.csv')
display (datos) # Display es una especie de print que muestra las cosas con mas formato. Solo funciona en notenbooks

  Titulo   Nombre Segundo nombre  Apellido  Servicio Fecha de vencimiento
0    Sr.  Romildo        Ricardo     Lopez     Claro             12/03/22
1   Sra.    Maria           Ines  Gonzales    Edenor             04/09/22
2    Sr.   Danilo            NaN   Gugiari    Edenor             04/09/22
3   Sra.   Romina         Camila     Perez  Movistar             09/10/22
4   Sra.  Micaela            NaN     Vilas  Movistar             08/10/22

In [4]:
# podemos seleccionar una columna como si fuese un diccionario

datos['Titulo']

0     Sr.
1    Sra.
2     Sr.
3    Sra.
4    Sra.
Name: Titulo, dtype: object

In [5]:
# o podemos iterar sobre los registros poniendo que querenmos que itere. Eso nos da dos datos, el primero es el identificador de la fila, el segundo una especie de diccionario con el contenido

for idx, registro in datos.iterrows():
    display (registro)

# Tenemos un problema con los nombres, porque el excel viene con otros nombres de columnas. 

# Vamos a acostumbranos a que todo tiene solucion, a veces uno la sabe, sino la busca:

# https://www.google.com/search?q=rename+columns+pandas

# Si algo esta en stackoverflow es la posta en cosas de codigo.

Titulo                       Sr.
Nombre                   Romildo
Segundo nombre           Ricardo
Apellido                   Lopez
Servicio                   Claro
Fecha de vencimiento    12/03/22
Name: 0, dtype: object

Titulo                      Sra.
Nombre                     Maria
Segundo nombre              Ines
Apellido                Gonzales
Servicio                  Edenor
Fecha de vencimiento    04/09/22
Name: 1, dtype: object

Titulo                       Sr.
Nombre                    Danilo
Segundo nombre               NaN
Apellido                 Gugiari
Servicio                  Edenor
Fecha de vencimiento    04/09/22
Name: 2, dtype: object

Titulo                      Sra.
Nombre                    Romina
Segundo nombre            Camila
Apellido                   Perez
Servicio                Movistar
Fecha de vencimiento    09/10/22
Name: 3, dtype: object

Titulo                      Sra.
Nombre                   Micaela
Segundo nombre               NaN
Apellido                   Vilas
Servicio                Movistar
Fecha de vencimiento    08/10/22
Name: 4, dtype: object

In [6]:
# La solucion:

datos = datos.rename(columns = {'Titulo':'titulo','Nombre':'nombre','Segundo nombre':'segundo','Apellido':'apellido','Servicio':'servicio','Fecha de vencimiento':'vencimiento'})
display (datos)

  titulo   nombre  segundo  apellido  servicio vencimiento
0    Sr.  Romildo  Ricardo     Lopez     Claro    12/03/22
1   Sra.    Maria     Ines  Gonzales    Edenor    04/09/22
2    Sr.   Danilo      NaN   Gugiari    Edenor    04/09/22
3   Sra.   Romina   Camila     Perez  Movistar    09/10/22
4   Sra.  Micaela      NaN     Vilas  Movistar    08/10/22

In [7]:
# Acá Reemplazo los NaN (donde no hay datos) por un string vacio.
datos = datos.fillna('')
datos = datos.rename(columns = {'Titulo':'titulo','Nombre':'nombre','Segundo nombre':'segundo','Apellido':'apellido','Servicio':'servicio','Fecha de vencimiento':'vencimiento'})
display (datos)

  titulo   nombre  segundo  apellido  servicio vencimiento
0    Sr.  Romildo  Ricardo     Lopez     Claro    12/03/22
1   Sra.    Maria     Ines  Gonzales    Edenor    04/09/22
2    Sr.   Danilo            Gugiari    Edenor    04/09/22
3   Sra.   Romina   Camila     Perez  Movistar    09/10/22
4   Sra.  Micaela              Vilas  Movistar    08/10/22

In [8]:
# Y ahora si!

for idx, persona in datos.iterrows():
    generar_mensaje(**persona)

Sr. Romildo Ricardo Lopez, tiene una deuda con Claro que vence el 12/03/22
Sra. Maria Ines Gonzales, tiene una deuda con Edenor que vence el 04/09/22
Sr. Danilo Gugiari, tiene una deuda con Edenor que vence el 04/09/22
Sra. Romina Camila Perez, tiene una deuda con Movistar que vence el 09/10/22
Sra. Micaela Vilas, tiene una deuda con Movistar que vence el 08/10/22